body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #252440;
  background-color: #f5f5f1;
}

body h1 {
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #252850;
  margin: 80px 0px;
}
.ingresar {
  text-align: center;
  margin-bottom: 10px; /* Ajusta el valor según el espacio deseado */
}


.table thead th {
  background-color: #FF0000;
  color: #fff;
}

.head input {
  background-color: #dcdcdc;
  border: none; /* Agrega 'border: none;' para eliminar el borde */
}

.btnGuardar {
  padding: 5px 20px;
  background-color: #252440;
  color: #ffffff;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 15px;
  position: relative;
  margin: 20px;
  margin-left: 800px;
  outline: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btnGuardar:hover {
  background-color: #FF0000; /* Cambia el color al pasar el mouse */
}
table button {
 background-color: #252850;
  color: white;
  font-weight: 5px;
  font-family: Arial;
  padding: 5px 25px;
  border-radius: 20px;
  transition: background-color 0.3s;
}
.table button:hover {
  background-color: #FF0000;
}
.tabla {
  margin: 80px auto; /* Ajusta el margen superior e inferior según tus necesidades */
  width: 50%; /* Puedes ajustar el ancho según tus necesidades */
}