<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div>
    <form th:action="@{/cliente}" method="post" th:object="${cliente}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" />
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" />
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" />
        <label for="numero">Celular:</label>
        <input type="text" id="numero" name="numero" />
        <br>
        <input type="submit" value="Guardar">
    </form>
</div>

<table th:if="${!clientes.isEmpty()}">
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Numero</th>
    </tr>

    <tr th:each ="cliente : ${clientes}">
        <td th:text ="${cliente.nombre}"></td>
        <td th:text ="${cliente.apellido}"></td>
        <td th:text ="${cliente.correo}"></td>
        <td th:text ="${cliente.numero}"></td>

        <td>
            <a th:href = "@{/cliente/editar(id=${cliente.id})}">
                <button type="button">Editar</button>
            </a>
        </td>

        <td>
            <form th:action="@{/cliente/eliminar(id=${cliente.id})}" th:method="delete">
                <button type="submit">Eliminar</button>
            </form>
        </td>

    </tr>
</table>

</body>
</html>