<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <form th:action="@{/cliente}" method="post" th:object="${cliente}">
        <label for="nombreCliente">Nombre:</label>
        <input type="text" id="nombreCliente" name="nombreCliente" />
        <label for="apellidoCliente">Apellido:</label>
        <input type="text" id="apellidoCliente" name="apellidoCliente" />
        <label for="correoCliente">Correo:</label>
        <input type="text" id="correoCliente" name="correoCliente" />
        <label for="celular">Celular:</label>
        <input type="text" id="celular" name="celular" />
        <br>
        <input type="submit" value="Guardar">
    </form>
</div>

<div class="container mt-4">
    <h2>Tabla de datos - Grupo 5</h2>
    <table th:if="${!clientes.isEmpty()}" class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nombreCliente}"></td>
            <td th:text="${cliente.apellidoCliente}"></td>
            <td th:text="${cliente.correoCliente}"></td>
            <td th:text="${cliente.celular}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>