<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="style.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2>Tabla de datos - Grupo 5</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Orlando Alonso</td>
            <td>Gonzales Paz</td>
            <td>orlando13gonzales@gmail.com</td>
            <td>991214502</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Itachi</td>
            <td>Uchiha</td>
            <td>itachiuchiha@gmail.com</td>
            <td>987654321</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>